accelerate  
bert_score  
bitsandbytes  
datasets  
dirtyjson  
evaluate  
faiss-cpu
fastjsonschema
fuzzywuzzy  
huggingface-hub
langchain  
lexical-diversity  
nltk  
numpy  
openai  
pynvml  
python-Levenshtein  
python-dotenv
sacrebleu  
sacremoses  
scikit-learn  
sentence-transformers  
streamlit  
torch  
transformers  
wandb